*{
    text-align: center;
    align-items: center;
}
#asma{
    color: red;
    font-size: 40px;
}
#label {
    font-size: 30px;
    color: brown;
}
#button {
    width: 150px;
    height: 40px;
    font-size: 30px;
    color: #fff;
    background-color: brown;
    border-radius: 15px;
}
#input{
    width:150px;
    height: 40px;
    border:blue solid 2px;
    color: blue;
    font-size: 30px;
    border-radius: 0px 10px 0px 10px;

}

#showhere{
    font-size: 60px;
    color:green;
}